# Maven
/target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Crash dumps
hotspot.log 